head{
  font-size: 3em;
  font-style: normal;
  font-family: fantasy;
  color: white
    background-color: #f2c2d6;
}

body {
  background-color: #f2c2d6;
  font-size: 2em ;
  font-family: fantasy;
  color: white;
}
