head{
  font-size: 3em;
  font-style: normal;
  font-family: fantasy;
  color: white
    background-color: #f2c2d6;
}

body {
  background-color: #f2c2d6;
  font-size: 2em ;
  font-family: fantasy;
  color: white;
}

.navigation {
  overflow-y: auto;
 position: fixed;
 left: 0;
 top: 0;
 text-align: center;
 width:
 colour: #635a5e;
 background-color: #f772ae;
 z-index: 999;
}
